body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background: #5774b4;
    text-align: justify;
}
p{
    text-align: justify;
}
#main{
    position: relative;
    overflow: hidden;
    background-color: #394b97;
}
@font-face {
    font-family: a;
    src: url(./jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: c;
    src: url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}
#page1
{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page1>video{
    width: 100%;
    object-fit: fill;
}
header {
    display: flex !important;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px 24px;
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
div#right-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#right-nav>a {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #0842e2;
    color: #fff;
    font-size: 15px;
    margin-right: 22px;
}
#right-nav>a:hover{
    background-color: #fff;
    text-decoration: none;
    color: #000;
}

.bottom-page1{
    position: absolute;
    bottom: 20%;
    height: 48vh;
    width: 480px;
    left: 10%;
}
.bottom-page1>h1 {
    font-family:'a';
    font-size: 4vw;
    font-weight: 100;
    line-height: 65px;
    color: #fff;
    margin-bottom: 7px;
}
.bottom-page1-inner{
    position: absolute;
    bottom: 0%;
    height: 54%;
    width: 80%;
}
.bottom-page1>a {
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    font-family: b;
    transition: background .6s,color cubic-bezier(.87,0,.13,1) .6s;
}
.bottom-page1>a:hover{
    background-color: #3426f6;
    text-decoration: none;
    color: #fff;
}
.bottom-page1>h4{
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    line-height: 23px;
    margin: 0;
    padding: 0;
    margin-bottom: 27px;
    font-family: 'a';
}
#page2 {
    font-family: a;
    flex-direction: column;
    width: 100vw;
    position: relative;
    padding: 8vw 8vw;
    color: #fff;
    background-color: #11235A;
    text-align: center;
    margin: 0 auto;
}
#page2>h2{
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    line-height: 57px;
}
#page2 p {
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    padding: 40px 0px;
}
.future-cato img {
    width: 48px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    display: block;
    margin-bottom: 10px;
}
.future-cato {
    width: 100%;
    text-align: center;
    float: left;
    margin-bottom: 36px;
}
.future-cato h3 {
    padding: 0;
    font-size: 23px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 auto;
    text-align: center;
    color: #e8c072b3;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'b';
}
.mg-team-item {
    position: relative;
}
.mg-team-photo {
    position: relative;
    width: 100%;
    height: 25.5rem;
    margin: 0 0 2rem;
    overflow: hidden;
    border-radius: 1.5rem;
}
.mg-team-photo img {
    width: 100%;
    height: 418px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transform: scale(1);
    transition: transform .6s;
}
.mg-team-title {
    margin: 0 0 0.2rem;
    color: #ffffff;
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -.02em;
    text-transform: capitalize;
}
.mg-team-desc {
    font-style: normal;
    font-weight: 320;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: .02em;
    color: #ffffff;
    height: 101px;
    overflow: hidden;
}
.mg-team-item a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
#inner-page2{
    display: flex;
    align-items: start;
    font-family: a;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 0vw 8vw;
    color: #fff;
    background-color: #0a3cce;
}
#inner-page2>h2{
    margin-bottom: 3vw;
    font-weight: 100;
}
#inner-page2>h1 {
    font-weight: 100;
    line-height: 1.2;
    width: 100%;
    font-size: 3vw;
    color: #fff;
}

#page3{
    position: relative;
    width: 100vw;
    background-color: #5b79b7;
    margin: 0 auto;
    text-align: center;
}
#page3>canvas{
    max-width: 100vw;
    position: relative;
}
#page4{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 8vw 8vw;
    width: 100vw;
    background-color: #3426f6;
    font-family: a;
}
#page4>h2{
    margin-bottom: 3vw;
    font-weight: 500;
    font-size: 40px;
    color: #fff;
}
#page4>h1{
    font-weight: 100;
    line-height: 1.2;
    width: 100%;
    font-size: 35px;
    color: #dadada69;
}
#page6{
    position: relative;
    padding: 8vw 8vw;
    width: 100vw;
    background-color: #5b79b7;
    font-family: a;
}
#page6>h2 {
    margin-bottom: 3vw;
    font-weight: 500;
    font-size: 40px;
    color: #fff;
}
#page6>h1 {
    font-weight: 100;
    line-height: 1.2;
    width: 100%;
    font-size: 35px;
    color: #dadada69;
}
#page7{
    padding: 8vw 8vw;
    height: auto;
    width: 100vw;
    font-family: a;
    background-color: #11235A;
}
.gallery-heading {
    font-weight: 500;
    color: #fff;
    margin-bottom: 3vw;
    font-size: 40px;
}
#page8{
    position: relative;
    padding: 8vw 8vw;
    background-color: #5b79b7;
    font-family: a;
}

#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page8-bottom{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: a;
}
.page8-bottom>h1{
    color: #fff;
    margin-bottom: 2vw;
    font-size: 5vw;
    font-weight: 100;
}
.wow {
margin-bottom: 2vw;
    font-weight: 500;
    color: #fff;
    font-size: 50px;
    font-family: 'a';
    text-align: center;
}
.page8-bottom>button{
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    color: #0a3cce;
}
#page9{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
.left9{
    height: 100%;
    width: 40%;
    position: relative;
    font-family: a;
}
.left9>h1{
    position: absolute;
    top: 40%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 100;
    color: #fff;
    line-height: 1;
}
.right9{
    height: 100%;
    width: 60%;
    position: relative;
}
.right9-center{
    height: 50%;
    width: 85%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    left: 5%;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
.right10{
    height: 100%;
    width: 60%;
    position: relative;
    left: 40%;
}
.right10-inner{
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
    font-family: a;
    color: #fff;
}
.right10-inner>h1{
    font-size: 2vw;
}
.right10-inner>p{
    margin-top: 2vw;
    font-size: 1.3vw;
    width: 80%;
}

#page11{
    position: relative;
    height: 110vh;
    width: 100vw;
    background-color: #fff;
    font-family: a;
}
.section-shows {
    top: 30%;
    margin-left: 8%;
}
#page11>h1 {
    position: absolute;
    top: 5%;
    left: 8%;
    font-size: 4vw;
    color: #000;
    font-weight: 100;
    margin-bottom: 30px;
}
#page12{
    position: relative;
    height: 80vh;
    width: 100vw;
    background-color: #02268e;
}
.page12-inner{
    position: absolute;
    top: 5%;
    right: 2px;
    color: #fff;
    font-family: a;
    left: 54%;
}
.page12-inner>h1{
    font-size: 3vw;
    font-weight: 100;
}
.page12-inner>p{
    font-size: 1.3vw;
}


#page13{
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    font-family: a;
    padding: 7vw 10vw;
}
#page13>h1{
    font-size: 5vw;
    line-height: 1;
    font-weight: 100;
}
#page13>button{
    padding: 18px 30px;
    border: none;
    background-color: #0a3cce;
    color: #fff;
    border-radius: 50px;
    margin-top: 2vw;
}


#page14 {
    background-color: #3426f6;
    display: block;
    float: left;
    width: 100%;
}
.page14-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 5vw;
    font-family: a;
    height: 33.3%;
    width: 100%;
    color: #fff;
    border-top: .5px solid #ffffff5c;
    border-bottom: .5px solid #ffffff48;
}
.page14-inner>i{
    font-weight: 100;
    font-size: 2vw;
    position: relative;
    z-index: 9999;
}
.page14-inner>h1{
    font-size: 2vw;
    font-weight: 100;
    position: relative;
    z-index: 9999;
}

.center14{
    height: 0%;
    width: 100%;
    background-color: #0a3cce;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease .5s;
}


.page14-inner:hover .center14{
    height: 100%;
}
.section-list {
    padding: 13px;
}
.section-list img {
    border-radius: 7px;
    margin-bottom: 5px;
}
.section-list h3 {
    font-size: 18px;
    color: #000;
    text-align: center;
    font-family: a;
    font-weight: 500;
    text-transform: uppercase;
}
nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background: white;
    transform: translateX(102%);
    transition: transform 0.35s ease;
    z-index: 10;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25);
    text-align: left;
}
  nav.open {
    overflow: auto;
    transform: translateX(0rem);
    color: #0a3cce;
    opacity: 0.7;
    font-weight: 900;
    right: 0;
    position: absolute;
    top: 7px;
    font-size: 22px;
}
nav ul {
    margin: 5rem 0 0;
    padding: 0;
    display: inline-block;
}
nav li {
  list-style: none; }

nav a {
    display: block;
    margin: 0.5rem 0;
    padding: 13px 13px;
    transition: transform 0.35s ease;
    font-size: 29px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #3f3b3b;
    font-family: a;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
  nav a:hover, nav a:active {
    transform: translateX(0.5rem); }

nav.open a {
  padding-left: 2rem; }

.nav-toggle {
  cursor: pointer;
  font-size: 1.25rem;
   }

nav.open .nav-toggle {
    font-size: 24px;
    padding: 12px;
    color: #fff;
    float: left;
}

.back {
  overflow: hidden; }

.blur {
  filter: blur(2px); }


#page15{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.section-list img {
    margin-bottom: 15px;
}
.btn-1b::after {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #ffff; }

.btn-1b:hover {
  color: blue; }
  .btn-1b:hover::after {
    height: 100%; }
.right-content {
    background-color: #a6b7ce;
    width: 50%;
    float: right;
    height: 385px;
    overflow: hidden;
}
.right-content1 {
    background-color: #1137ca;
    width: 50%;
    float: right;
    height: 384px;
    overflow: hidden;
}
.content img {
    width: 100%;
}
section.raw-structure {
    width: 100%;
    float: left;
    display: block;
}
.content p {
    line-height: 30px;
    font-size: 20px;
}
/*** Category ***/
.cat-item div {
  background: #11235a;
    transition: .5s;
    color: #fff !important;
}

.cat-item:hover div {
    background: #1137ca;
    border-color: transparent;
}

.cat-item div * {
    transition: .5s;
}

.cat-item:hover div * {
    color: #FFFFFF !important;
}
.icon img {
    transition: transform .7s ease-in-out;
    padding: 4px;
    border-radius: 2px;
    width: 63px;
}
.icon img:hover {
    transform: rotate(360deg);
}
.bredcrumb h1 {
    padding: 10px 0px;
    text-align: left;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    font-family: 'a';
}
.bredcrumb {
    padding: 10px 0px;
    background-color: #5774b4;
}
h4.heading {
    margin-bottom: 3vw;
    font-weight: 500;
    font-size: 50px;
    color: #fff;
    text-align: center;
}
.mg-team-desc-inner {
    font-style: normal;
    font-weight: 320;
    font-size: 17px;
    line-height: 156%;
    letter-spacing: .02em;
    color: #ffffff;
}
.page5 {
    background-color: #3426f6;
    padding: 0px 30px;
}
/*============== FOOTER =================*/
.copyright {
    float: left;
    width: 100%;
    background-color: #11235A;
    padding: 10px 0px;
}
.copyright ul {
    margin: 0px;
    padding: 0px;
    float: right;
}
.copyright ul li {
    list-style-type: none;
    float: left;
    margin-left: 15px;
}
.copyright ul li a {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 12px;
    text-transform: capitalize;
}
.copyright h6 {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 12px;
    text-transform: capitalize;
    float: left;
}
.footer {
    float: left;
    width: 100%;
    background-color: #5774b4;
    padding: 50px 0px;
}
.footer h4 {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
ul.footer-links {
    margin: 15px 0px 0px 0px;
    padding: 0px;
}
ul.footer-links li {
    list-style-type: none;
    display: block;
}
ul.footer-links li a {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    transition-duration: 1s;
}
ul.footer-links li a:hover {
    color: #f4b01b;
    transition-duration: 1s;
}
.footer-content {
    display: block;
    margin: 15px 0px;
}
.footer-content p {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
ul.footer-bar-social {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
ul.footer-bar-social li {
    list-style-type: none;
    display: inline-block;
    margin-right: 7px;
}
ul.footer-bar-social li a {
    text-decoration: none;
    display: block;
    line-height: 30px;
    width: 35px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    transition-duration: 1s;
}
ul.footer-bar-social li a:hover {
    background-color: #f4b01b;
    transition-duration: 1s;
}
.ft-link {
    border-right: 1px solid #45474c;
}
/*============= //FOOTER ================*/
.burger-wrapper {
  cursor: pointer;
}
#meny {
    background: #fff;
    width: 26rem;
    height: 100vh;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(50rem);
    top: 0;
    z-index: 0;
    transition: 0.5s;
    opacity: 0.8;
    overflow-x: auto;
}
#menyAvPaa {
    display: none;
}

#menyAvPaa:checked ~ #meny {
    transform: translateX(0rem);
}

#burger {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#burger > div {
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
    z-index: 999;
}

#menyAvPaa:checked ~ #burger > div {
  background-color: #000;
}

#menyAvPaa:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}
#menyAvPaa:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
}
#menyAvPaa:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}
.section-otv-shows-list a img{
    width: 100%;
    height: 60%;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 8px;
}
.brand-logo img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}
h3.comesoon {
    font-style: normal;
    font-weight: 320;
    font-size: 38px;
    line-height: 166%;
    letter-spacing: .02em;
    color: #ffffff;
}
.gallery-track {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0.25rem;
  padding: 0.25rem;
  will-change: transform;
}

.card {
  height: 400px;
  overflow: hidden;

  & .card-image-wrapper {
    height: 135%;
    will-change: transform;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
} 

@media (width < 800px) {
  .gallery-track {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (width < 550px) {
  .gallery-track {
    grid-template-columns: repeat(1,1fr);
  }
}

.lamc-img img {
    width: 100%;
    height: auto;
}
.lamac {
    background-color: #5b79b7;
    float: left;
    width: 100%;
}
.lamac-contain {
    text-align: center;
    margin: 30px;
    padding: 30px;
    color: #fff;
}
.lamac-contain h2 {
    font-weight: 500;
    color: #fff;
    margin-bottom: 1vw;
    font-size: 40px;
}
div#page5 video {
    width: 100%;
    height: auto;
}
.lamac-contain a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
h3.vission {
    font-weight: 100;
    line-height: 33px;
    width: 100%;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
}
.vission-mission {
    position: relative;
    padding: 8vw 8vw;
    width: 100vw;
    background-color: #11235A;
    font-family: a;
}
h3.brand {
    font-size: 22px;
    line-height: 38px;
    text-align: justify;
}
button.go-back {
    border: 1px solid #ffff;
    float: left;
    background-color: transparent;
    padding: 0px 15px;
    color: #fff;
    font-weight: 500;
    font-size: 21px;
    border-radius: 10px;
    display: block;
}
.about-content {
    font-size: 18px;
    line-height: 35px;
    font-family: 'a';
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap");
$color-gray: #515151;
$color-black: #000;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.form-main {
  .main-wrapper {
    border-radius: 10px;
    padding: 45px;
    width: 100%;
    box-shadow: 0 0 5px 5px #00000020;
    backdrop-filter: blur(5px);
    background-color: #11235a70;
    font-family: 'a';
    height: 471px;
    overflow: hidden;
    margin-bottom: 10px;
    @media screen and (max-width: 991px) {
      width: 100%;
      height: auto;
      padding: 20px;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      height: auto;
      padding: 20px;
    }
    .form-head {
      font-size: 25px;
      line-height: 40px;
      font-weight: 600;
      text-align: center;
      margin: 0px 0 25px;
      font-family: 'a';
      color: #fff;
    }
    .form-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      .form-card {
        position: relative;
        width: 100%;

        .form-input {
        padding: 20px 25px 15px;
        width: 100%;
        border: 1px solid #fff;
        border-radius: 5px;
        background: #ffffff9c;
        outline: none;
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        box-sizing: border-box;

          &:valid,
          &:focus {
            border: 1px solid $color-gray;
          }

          &:valid ~ .form-label,
          &:focus ~ .form-label {
            color: $color-gray;
            top: 30%;
            transform: translateY(-70%);
            font-size: 13px;
            line-height: 23px;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            transition: background-color 9999s ease-in-out 0s;
          }
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        .form-label {
          position: absolute;
          left: 25px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          transition: 0.3s;
          margin: 0;
          font-size: 18px;
          line-height: 28px;
          font-weight: 500;
        }
        .form-textarea {
          padding: 20px 25px 15px;
          width: 100%;
          border: 1px solid $color-black;
          border-radius: 5px;
          background: transparent;
          outline: none;
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          resize: none;
              box-sizing: border-box;

          &:valid,
          &:focus {
            border: 1px solid $color-gray;
          }

          &:valid ~ .form-textarea-label,
          &:focus ~ .form-textarea-label {
            color: $color-gray;
            top: 18%;
            transform: translateY(-82%);
            font-size: 13px;
            line-height: 23px;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            transition: background-color 9999s ease-in-out 0s;
          }
        }
        .form-textarea-label {
          position: absolute;
          left: 25px;
          top: 30%;
          transform: translateY(-70%);
          pointer-events: none;
          transition: 0.3s;
          margin: 0;
          font-size: 18px;
          line-height: 28px;
          font-weight: 500;
        }
      }
    }
  }
}
.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
padding: 16px 0 0;
  }
.btn-wrap button {
  padding: 0 32px;
  font-size: 18px;
  line-height: 48px;
  border: 1px solid transparent;
  font-weight: 600;
  border-radius: 6px;
  transition: all 0.5s ease;
  cursor: pointer; box-shadow: 0 0 5px 5px #00000020;
}
.btn-wrap button:hover {
  border: 1px solid #000;
  background: transparent;
  
}
#page5 {
    font-family: a;
    flex-direction: column;
    width: 100vw;
    position: relative;
    padding: 8vw 8vw;
    color: #fff;
    background-color: #11235A;
    text-align: center;
    margin: 0 auto;
}
#page5>h2{
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    line-height: 57px;
}
#page5 p {
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    padding: 40px 0px;
}
.section-otv-shows button.owl-prev, .section-otv-shows button.owl-next {
    color: #fff !important;
    border: none !important;
    outline: none;
    width: 62px;
    height: 115px;
    font-size: 148px !important;
    border-radius: 50%;
    position: absolute;
    bottom: 58%;
    z-index: 5 !important;
    transition-duration: .5s;
    opacity: .5;
}
.section-otv-shows button.owl-prev:hover, .section-otv-shows button.owl-next:hover {
    opacity: 1;
    transition-duration: .5s;
}
button.owl-prev {
    left: -7%;
}
button.owl-next {
    right: -7%;
}

button.owl-prev.disabled {
    display: none;
}
button.owl-next.disabled {
    display: none;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.contact-details {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}
.contact-details p {
    padding: 0;
    margin: 0;
}
.contact-details p i {
    margin-right: 7px;
}

@media (max-width: 768px){
    #background-video {
  width: auto;
  height: auto;
  object-fit: cover;
}
header img {
    width: 63%;
    height: auto;
}
header {
    padding: 10px 10px;
}
.footer {
    text-align: -webkit-center;
}
.footer-content p {
    text-align: center;
    margin: 0 auto;
}
.copyright h6 {
    float: none;
    text-align: center;
    margin: 0 auto;
}
#page1 {
    height: auto;
}
}